@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: hsl(220, 50%, 95%);
  --background-color: hsl(220, 30%, 12%);
  --accent-color: hsl(200, 80%, 50%);
}

body {
  color: var(--foreground-color);
  background: var(--background-color);
}
